{% extends "base.html" %}

{% block content %}
    <h1 style="margin: auto; padding: 14px; width: 800px;">AutoRewrite: Readability</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div style="margin: auto; padding: 14px; width: 800px;">
            <span>Original Sentence:</span><br>
            {{ form.sentence(style="width: 800px; height 120px; margin-bottom: 14px") }}<br>
            {{ form.submit() }}
        </div>
    </form>
    {% if res %}
    <form action="" method="post" novalidate>
        {{ annotate.hidden_tag() }}
        <div style="box-shadow: 2px 3px 4px rgba(0,0,0,.5); padding: 14px; width: 800px; margin: 14px auto">
            <div>{{ res.inferences[0].rewrite }}</div>
            <ul>
                <li><i>Model:</i> {{ res.inferences[0].model_name }}</li>
                <li><i>Readability Improvement:</i> {{ "%.2f" % res.inferences[0].readability_change }}</li>
                <li><i>Similarity to Input:</i> {{ "%.2f" % res.inferences[0].similarity }}</li>
                <li><i>Quality Score:</i> {{ "%.2f" % res.inferences[0].quality_score }}</li>
            </ul>
            <div>Accept response: {{ annotate.accept_1 }}</div>
        </div>
        <div style="box-shadow: 2px 3px 4px rgba(0,0,0,.5); padding: 14px; width: 800px; margin: 14px auto">
            <div>{{ res.inferences[1].rewrite }}</div>
            <ul>
                <li><i>Model:</i> {{ res.inferences[1].model_name }}</li>
                <li><i>Readability Improvement:</i> {{ "%.2f" % res.inferences[1].readability_change }}</li>
                <li><i>Similarity to Input:</i> {{ "%.2f" % res.inferences[1].similarity }}</li>
                <li><i>Quality Score:</i> {{ "%.2f" % res.inferences[1].quality_score }}</li>
            </ul>
            <div>Accept response: {{ annotate.accept_2 }}</div>
        </div>
        <div style="box-shadow: 2px 3px 4px rgba(0,0,0,.5); padding: 14px; width: 800px; margin: 14px auto">
            <div>{{ res.inferences[2].rewrite }}</div>
            <ul>
                <li><i>Model:</i> {{ res.inferences[2].model_name }}</li>
                <li><i>Readability Improvement:</i> {{ "%.2f" % res.inferences[2].readability_change }}</li>
                <li><i>Similarity to Input:</i> {{ "%.2f" % res.inferences[2].similarity }}</li>
                <li><i>Quality Score:</i> {{ "%.2f" % res.inferences[2].quality_score }}</li>
            </ul>
            <div>Accept response: {{ annotate.accept_3 }}</div>
        </div>
        <div style="box-shadow: 2px 3px 4px rgba(0,0,0,.5); padding: 14px; width: 800px; margin: 14px auto">
            <div>{{ res.inferences[3].rewrite }}</div>
            <ul>
                <li><i>Model:</i> {{ res.inferences[3].model_name }}</li>
                <li><i>Readability Improvement:</i> {{ "%.2f" % res.inferences[3].readability_change }}</li>
                <li><i>Similarity to Input:</i> {{ "%.2f" % res.inferences[3].similarity }}</li>
                <li><i>Quality Score:</i> {{ "%.2f" % res.inferences[3].quality_score }}</li>
            </ul>
            <div>Accept response: {{ annotate.accept_4 }}</div>
        </div>
        <div style="padding: 14px; margin: 14px auto; width: 800px">
            {{ annotate.submit() }}
        </div>
    </form>

    {% endif %}
{% endblock %}